$blue: #27b;
$gray: gray;
$white: #ffffff;

.new_user_modal_wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
}
.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray;
}
.box2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: $gray;
}
.box3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
}
.box4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 15px 15px 0;
}

.wrapper_modal {        
    background-color: #c6c6c6;
    border: 1px solid $blue;
    color: $blue;
    padding: 8px 17px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px;
    height: 35px;

    a {
        text-decoration: none;
        color: #585858;
    }
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal_content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
}

.modal__close {
    color: #585858;
    text-decoration: none;
}

.white_button {
    background-color: $white;
    border: 1px solid $gray;
    color: $gray;
    padding: 9px 17px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px;
    &:hover {
        background-color: lighten($white, 5%);
    }
}

.new_user_input {
    color: $gray;
    height: 30px;
    width: 315px;
}
