@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
$gray: gray;

.table{
    width: 100%;
    border-collapse: collapse;
    th{
        color: $gray;
        text-align: left;
    }
    td{
        color: $gray;
        text-align: left;
        height: 35px;
        :last-child {
            border-top: 1px solid #c6c6c6;
        }
    }
}
.tableRow{
    cursor: pointer;
    border-top: 1px solid #c6c6c6;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
    height: 40px;
    margin: 5px 0 5px 0;
  }
  .one {    
    height: 40px;
    display:flex ;
    justify-content: flex-start;
    align-items: center;
    color: gray;
    label{
        margin-right: 10px;
    }
  }
  .two {
    height: 40px;
    display:flex ;
    justify-content: flex-end;
    align-items: center;
  }

  .selected_row{
      background-color: rgb(218, 235, 193);
  }




  
