$blue: #27b;
$white: #ffffff;
$gray: gray;

.grey_button {
    background-color: #c6c6c6;
    border: 1px solid $blue;
    color: $blue;
    padding: 8px 17px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px;
    height: 35px;
}

.blue_button {
    background-color: $blue;
    border: none;
    height: 35px;
    color: $white;
    padding: 8px 17px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px;
    &:hover {
        background-color: lighten($blue, 5%);
    }
}

.search_input{
    border: 1px solid #d1d1c2;
    height: 35px;
    width: 280px;
    ::placeholder{
        color:$gray;
        padding-left: 20px;
    }
}